<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            <span class="fs-4">S2021R1OQM Project</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="{{ url_for('index') }}" role="tab" {% if active==0 %} class="nav-link active" {% else %} class="nav-link" {% endif %}>Home</a></li>
            <li class="nav-item"><a href="{{ url_for('board') }}" role="tab" {% if active==5 %} class="nav-link active" {% else %} class="nav-link" {% endif %}>Board</a></li>
            <li class="nav-item"><a href="{{ url_for('user') }}" role="tab" {% if active==1 %} class="nav-link active" {% else %} class="nav-link" {% endif %}>User</a></li>
            <li class="nav-item"><a href="{{ url_for('officer') }}" role="tab" {% if active==2 %} class="nav-link active" {% else %} class="nav-link" {% endif %}>Officer</a></li>
            <li class="nav-item"><a href="{{ url_for('manager') }}" role="tab" {% if active==3 %} class="nav-link active" {% else %} class="nav-link" {% endif %}>Manager</a></li>
            <li class="nav-item"><a href="{{ url_for('about') }}" role="tab" {% if active==4 %} class="nav-link active" {% else %} class="nav-link" {% endif %}>About</a></li>
        </ul>
    </header>
</div>