{% set active=0 %} {% extends "base.html" %} {% block main %}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="/static/img/queue.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="600" height="400" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Office Queue Handling System</h1>
            <p class="lead">Improve customer experience. Manage peak hour traffic with ease.<br>Get our queue management solution paper here!<br>Designed to work in every scenario. </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="{{ url_for('user') }}"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">User</button></a>
                <a href="{{ url_for('officer') }}"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Officer</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}